In [1]:
# CB: Altman's z-score is based on Fisher's discriminant analysis (linear classifier/separator).  (See e.g. wiki)
# It is used as an indicator for financial health, or as a determiner of likelihood of bankruptcy.
# It is a weighted linear combination of factors.  We can construct many such scores.
# The weights can be calculated by past scores of businesses which did or did not go bankrupt.
# Thus, industry-specific scores may be appropriate.

In [2]:
# We can use data from yfinance
import yfinance as yf
from pandas import DataFrame as df

In [3]:
tick = yf.Ticker('GME')

In [4]:
tick.history()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-04-25,135.410004,139.710007,133.279999,135.949997,1534800,0,0
2022-04-26,135.639999,136.800003,126.160004,127.599998,1545700,0,0
2022-04-27,127.269997,132.679993,124.580002,129.839996,1305900,0,0
2022-04-28,130.279999,132.600006,120.500000,129.309998,1767500,0,0
2022-04-29,127.300003,130.889999,123.010002,125.070000,1284200,0,0
2022-05-02,123.650002,125.389999,112.699997,119.570000,2543000,0,0
2022-05-03,118.480003,124.430000,114.419998,120.430000,1828200,0,0
2022-05-04,119.209999,127.750000,115.720001,127.080002,1662800,0,0
2022-05-05,123.940002,124.680000,115.120003,119.129997,1753900,0,0
2022-05-06,117.279999,120.559998,110.230003,114.699997,1786800,0,0
2022-05-09,110.779999,110.779999,98.080002,98.790001,3316200,0,0
2022-05-10,102.980003,106.059998,88.000000,93.500000,4150800,0,0
2022-05-11,93.470001,95.269997,80.000000,81.330002,4170300,0,0
2022-05-12,83.040001,108.059998,77.769997,89.570000,10034900,0,0
2022-05-13,99.000000,106.779999,95.040001,98.389999,5974000,0,0
2022-05-16,98.800003,99.180000,90.779999,91.800003,2895500,0,0
2022-05-17,93.900002,100.379997,91.199997,100.379997,2611200,0,0
2022-05-18,96.379997,99.839996,90.169998,91.480003,2890000,0,0
2022-05-19,91.220001,101.980003,90.160004,99.190002,3180100,0,0
2022-05-20,99.809998,102.410004,89.750000,95.660004,2488100,0,0
2022-05-23,96.570000,97.279999,91.500000,96.129997,1748500,0,0
2022-05-24,94.050003,94.199997,86.699997,89.150002,2201314,0,0

In [5]:
tick

yfinance.Ticker object <GME>

In [6]:
tick.balance_sheet

,2022-01-29,2021-01-30,2020-02-01,2019-02-02
Capital Surplus,1.577500e+09,1.100000e+07,NaN,2.770000e+07
Total Liab,1.896800e+09,2.035900e+09,2.208200e+09,2.708100e+09
Total Stockholder Equity,1.602500e+09,4.367000e+08,6.115000e+08,1.336200e+09
Other Current Liab,4.262000e+08,4.252000e+08,4.230000e+08,5.495000e+08
Total Assets,3.499300e+09,2.472600e+09,2.819700e+09,4.044300e+09
Common Stock,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05
Other Current Assets,3.690000e+07,1.125000e+08,1.350000e+07,3.700000e+06
Retained Earnings,9.360000e+07,4.749000e+08,6.902000e+08,1.362700e+09
Other Liab,1.079000e+08,2.050000e+07,2.140000e+07,5.540000e+07
Treasury Stock,-6.870000e+07,-4.930000e+07,-7.880000e+07,-5.430000e+07
Other Assets,1.503000e+08,5.810000e+07,1.431000e+08,2.314000e+08
Cash,1.271400e+09,5.085000e+08,4.994000e+08,1.624400e+09
Total Current Liabilities,1.354700e+09,1.342700e+09,1.237700e+09,2.181100e+09
Deferred Long Term Asset Charges,1.630000e+07,NaN,8.300000e+07,1.473000e+08
Short Long Term Debt,4.100000e+06,1.217000e+08,NaN,3.492000e+08
Other Stockholder Equity,-6.870000e+07,-4.930000e+07,-7.880000e+07,-5.430000e+07
Property Plant Equipment,7.502000e+08,8.633000e+08,1.042900e+09,3.213000e+08
Total Current Assets,2.598800e+09,1.551200e+09,1.633700e+09,3.127700e+09
Net Tangible Assets,1.602500e+09,4.367000e+08,6.115000e+08,9.723000e+08
Net Receivables,3.097000e+08,1.081000e+08,2.084000e+08,1.342000e+08
Long Term Debt,4.050000e+07,2.160000e+08,4.198000e+08,4.716000e+08
Inventory,9.150000e+08,6.025000e+08,8.597000e+08,1.250500e+09
Accounts Payable,4.710000e+08,3.418000e+08,3.808000e+08,1.051900e+09
Intangible Assets,NaN,NaN,NaN,3.350000e+07
Good Will,NaN,NaN,NaN,3.639000e+08

In [7]:
tick.financials

,2022-01-29,2021-01-30,2020-02-01,2019-02-02
Research Development,None,None,None,None
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,-3.954e+08,-2.699e+08,-4.268e+08,-7.531e+08
Minority Interest,None,None,None,None
Net Income,-3.813e+08,-2.153e+08,-4.709e+08,-6.73e+08
Selling General Administrative,1.6134e+09,1.4486e+09,1.8247e+09,1.9876e+09
Gross Profit,1.3478e+09,1.2595e+09,1.9087e+09,2.3081e+09
Ebit,-3.392e+08,-2.659e+08,-6.8e+06,3.205e+08
Operating Income,-3.392e+08,-2.659e+08,-6.8e+06,3.205e+08
Other Operating Expenses,None,None,None,None
Interest Expense,-2.69e+07,-3.21e+07,-2.72e+07,-5.68e+07
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,-1.41e+07,-5.53e+07,3.76e+07,4.17e+07
Total Revenue,6.0107e+09,5.0898e+09,6.466e+09,8.2853e+09
Total Operating Expenses,6.3499e+09,5.3557e+09,6.4728e+09,7.9648e+09
Cost Of Revenue,4.6629e+09,3.8303e+09,4.5573e+09,5.9772e+09
Total Other Income Expense Net,-5.62e+07,-4e+06,-4.2e+08,-1.0736e+09
Discontinued Operations,NaN,-700000,-6.5e+06,1.218e+08
Net Income From Continuing Ops,-3.813e+08,-2.146e+08,-4.644e+08,-7.948e+08
Net Income Applicable To Common Shares,-3.813e+08,-2.153e+08,-4.709e+08,-6.73e+08

# Z-score

In [8]:
# For Working Capital (one of the factors) we need to grab total assets and total liabilities.
current_assets = tick.balance_sheet.loc['Total Assets'][0]
current_assets

3499300000.0

In [9]:
current_liabilities = tick.balance_sheet.loc['Total Liab'][0]
current_liabilities

1896800000.0

In [10]:
working_capital = current_assets - current_liabilities
working_capital

1602500000.0

In [11]:
# We also need EBIT: Earnings Before Interest and Taxes
ebit = tick.financials.loc['Ebit'][0]
ebit

-339200000.0

In [12]:
# Sales i.e. revenue
sales = tick.financials.loc['Total Revenue'][0]
sales

6010700000.0

In [13]:
# Retained earnings
retained_earnings = tick.balance_sheet.loc['Retained Earnings'][0]
retained_earnings

93600000.0

In [14]:
# Market Capitalization
market_cap = tick.info['marketCap']
market_cap

6805621760

In [15]:
# Example of an Altman-like z-score for manufacturing as outlined here:
# https://www.investopedia.com/terms/a/altman.asp
# https://en.wikipedia.org/wiki/Altman_Z-score
# Altman-like because some of these metrics might be debated (e.g. sales vs. revenue, etc.).
# We can come up with many scores like this, details and coefficients to be fine-tuned for particular use cases.

# Plug in from above
def z_altman(tick):
    '''
    Altman z-score, tuned for manufacturing companies.
    
    Takes a yfinance ticker and returns a z-score.
    '''
    
    # Get numbers
    current_assets = tick.balance_sheet.loc['Total Assets'][0]
    current_liabilities = tick.balance_sheet.loc['Total Liab'][0]
    ebit = tick.financials.loc['Ebit'][0]
    sales = tick.financials.loc['Total Revenue'][0]
    retained_earnings = tick.balance_sheet.loc['Retained Earnings'][0]
    market_cap = tick.info['marketCap']
    
    # Calculate working capital
    working_capital = current_assets - current_liabilities
    
    # Calculate ratios
    working_capital_to_assets = working_capital / current_assets
    retained_earnings_to_assets = retained_earnings / current_assets
    ebit_to_assets = ebit / current_assets
    market_cap_to_liabilities = market_cap / current_liabilities
    sales_to_assets = sales / current_assets
    
    # Multiply by weights
    z_score = (
        (1.2 * working_capital_to_assets) +
        (1.4 * retained_earnings_to_assets) + 
        (3.3 * ebit_to_assets) +
        (0.6 * market_cap_to_liabilities) +
        (1.0 * sales_to_assets)
    )
    
    return z_score

In [16]:
z_altman(tick)

4.137560674583069

In [17]:
# Handle multiple tickers
ticks = yf.Tickers(['GME','TSLA'])
ticks

yfinance.Tickers object <GME,TSLA>

In [18]:
# E.g.
ticks.tickers['GME'].financials.loc['Ebit'][0]

-339200000.0

In [19]:
#yf.Tickers??

In [20]:
ticks.symbols

['GME', 'TSLA']

In [21]:
scores_dict = dict()
for stock in ticks.tickers:
    print(ticks.tickers[stock].financials.loc['Ebit'][0])
    print(stock)
    scores_dict[stock] = ticks.tickers[stock].financials.loc['Ebit'][0]
scores_dict

-339200000.0
GME
6523000000.0
TSLA

{'GME': -339200000.0, 'TSLA': 6523000000.0}

In [22]:
# Adjust function
def z_altman_multi(ticks):
    '''
    Altman z-score, tuned for manufacturing companies.
    
    Takes a yfinance.Tickers object (multiple tickers) and returns a score dictionary.
    '''
    
    scores_dict = dict()
    
    # Loop over ticks
    for stock in ticks.tickers:
        
        # Get numbers
        current_assets = ticks.tickers[stock].balance_sheet.loc['Total Assets'][0]
        current_liabilities = ticks.tickers[stock].balance_sheet.loc['Total Liab'][0]
        ebit = ticks.tickers[stock].financials.loc['Ebit'][0]
        sales = ticks.tickers[stock].financials.loc['Total Revenue'][0]
        retained_earnings = ticks.tickers[stock].balance_sheet.loc['Retained Earnings'][0]
        market_cap = ticks.tickers[stock].info['marketCap']

        # Calculate working capital
        working_capital = current_assets - current_liabilities

        # Calculate ratios
        working_capital_to_assets = working_capital / current_assets
        retained_earnings_to_assets = retained_earnings / current_assets
        ebit_to_assets = ebit / current_assets
        market_cap_to_liabilities = market_cap / current_liabilities
        sales_to_assets = sales / current_assets

        # Multiply by weights
        z_score = (
            (1.2 * working_capital_to_assets) +
            (1.4 * retained_earnings_to_assets) + 
            (3.3 * ebit_to_assets) +
            (0.6 * market_cap_to_liabilities) +
            (1.0 * sales_to_assets)
        )
        
        # Add score to dict
        scores_dict[stock] = z_score
    
    return scores_dict

In [23]:
# Check a bunch, examine scores. 
list_of_stocks = yf.Tickers(
    ['GME','TSLA','COST','AAPL',
     'IBM','F','GOOG','MMM','BA',
     'LMT','GM','AMC','QS','TDOC',
     'NVDA','FB','DE','ZM','Z',
     'DELL','HPE','GE','INTC','NOC',
     'PRLB','COST','MSFT','COIN','ROKU',
     'VICI','XOM','PSX','CVX'])

In [24]:
# Can sometimes fail, time out. 
scores = z_altman_multi(list_of_stocks)
scores.items()

dict_items([('GME', 4.137560674583069), ('TSLA', 14.61230959859679), ('COST', 7.175560451191021), ('AAPL', 7.038652937717932), ('IBM', 3.0237557442555283), ('F', 1.2319392195711252), ('GOOG', 10.79696165235446), ('MMM', 4.602694523275302), ('BA', 0.9285875451865), ('LMT', 4.436521921426114), ('GM', 1.4081842706494978), ('AMC', -0.7836597652433493), ('QS', 27.71702746642938), ('TDOC', 2.905725400924926), ('NVDA', 16.798559986806428), ('FB', 10.989232468597557), ('DE', 2.65430792339915), ('ZM', 11.895534843941862), ('Z', 2.2307228176263925), ('DELL', 1.3076092828566763), ('HPE', 1.1925371699263696), ('GE', 1.583454406672066), ('INTC', 3.541145075833152), ('NOC', 3.6188018215234683), ('PRLB', 9.862687792321633), ('MSFT', 7.876750573772894), ('COIN', 2.406030772217069), ('ROKU', 7.427480981806268), ('VICI', 3.2325795643823687), ('XOM', 4.76397462492243), ('PSX', 3.740768878921843), ('CVX', 4.485656173340259)])

In [25]:
sorted_scores = sorted(scores.items(), reverse = True, key=lambda kv: kv[1])
sorted_scores

[('QS', 27.71702746642938),
 ('NVDA', 16.798559986806428),
 ('TSLA', 14.61230959859679),
 ('ZM', 11.895534843941862),
 ('FB', 10.989232468597557),
 ('GOOG', 10.79696165235446),
 ('PRLB', 9.862687792321633),
 ('MSFT', 7.876750573772894),
 ('ROKU', 7.427480981806268),
 ('COST', 7.175560451191021),
 ('AAPL', 7.038652937717932),
 ('XOM', 4.76397462492243),
 ('MMM', 4.602694523275302),
 ('CVX', 4.485656173340259),
 ('LMT', 4.436521921426114),
 ('GME', 4.137560674583069),
 ('PSX', 3.740768878921843),
 ('NOC', 3.6188018215234683),
 ('INTC', 3.541145075833152),
 ('VICI', 3.2325795643823687),
 ('IBM', 3.0237557442555283),
 ('TDOC', 2.905725400924926),
 ('DE', 2.65430792339915),
 ('COIN', 2.406030772217069),
 ('Z', 2.2307228176263925),
 ('GE', 1.583454406672066),
 ('GM', 1.4081842706494978),
 ('DELL', 1.3076092828566763),
 ('F', 1.2319392195711252),
 ('HPE', 1.1925371699263696),
 ('BA', 0.9285875451865),
 ('AMC', -0.7836597652433493)]

In [26]:
# Some of the scores seem to be outliers.
# We could create a new tech score with different weights.  What might such a z_score look like?
def z_tech():
    
    pass

In [27]:
# Now lets plot the scores against another metric, like the market cap, 
# to check in on the usefulness of the score.
# Ultimately we can combine data into a pandas df. 
# (Perhaps this could be done more directly from yf.)

In [28]:
def get_m_caps(ticks):

    cap_dict = dict()
    
    for stock in ticks.tickers:
        market_cap = ticks.tickers[stock].info['marketCap']
        
        cap_dict[stock] = market_cap
        
    return cap_dict

In [29]:
market_caps_df = df(sorted(get_m_caps(list_of_stocks).items(), reverse = True, key=lambda kv: kv[1]))
market_caps_df

       0              1
0   AAPL  2271754584064
1   MSFT  1896215347200
2   GOOG  1393876140032
3   TSLA   650780016640
4     FB   538381811712
5   NVDA   416014499840
6    XOM   391386071040
7    CVX   323504963584
8   COST   194003566592
9   INTC   169390555136
10   IBM   119927619584
11   LMT   116974624768
12    DE   103395409920
13   MMM    82940346368
14    GE    82635038720
15    BA    70641336320
16   NOC    69752651776
17    GM    51395846144
18     F    49925545984
19   PSX    46556045312
20  DELL    30593593344
21    ZM    28223694848
22   HPE    18930038784
23  VICI    18207987712
24  COIN    17324685312
25  ROKU    12656995328
26     Z    10372258816
27   GME     6805621760
28   AMC     6175359488
29  TDOC     5241248768
30    QS     5113411584
31  PRLB     1260292992

In [49]:
scores_df = df(scores.items())
scores_df

       0          1
0    GME   4.137561
1   TSLA  14.612310
2   COST   7.175560
3   AAPL   7.038653
4    IBM   3.023756
5      F   1.231939
6   GOOG  10.796962
7    MMM   4.602695
8     BA   0.928588
9    LMT   4.436522
10    GM   1.408184
11   AMC  -0.783660
12    QS  27.717027
13  TDOC   2.905725
14  NVDA  16.798560
15    FB  10.989232
16    DE   2.654308
17    ZM  11.895535
18     Z   2.230723
19  DELL   1.307609
20   HPE   1.192537
21    GE   1.583454
22  INTC   3.541145
23   NOC   3.618802
24  PRLB   9.862688
25  MSFT   7.876751
26  COIN   2.406031
27  ROKU   7.427481
28  VICI   3.232580
29   XOM   4.763975
30   PSX   3.740769
31   CVX   4.485656

In [37]:
stocks_df = scores_df.join(market_caps_df)
stocks_df

ValueError: columns overlap but no suffix specified: RangeIndex(start=0, stop=2, step=1)

In [31]:
from pandas import merge

In [39]:
stocks_df = merge(scores_df,market_caps_df, on = mark)
stocks_df

/anaconda3/envs/apeface/lib/python3.8/site-packages/pandas/core/reshape/merge.py:1113: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation
  warnings.warn(

Empty DataFrame
Columns: [0, 1]
Index: []

In [35]:
scores_df[0]

0       QS
1     NVDA
2     TSLA
3       ZM
4       FB
5     GOOG
6     PRLB
7     MSFT
8     ROKU
9     COST
10    AAPL
11     XOM
12     MMM
13     CVX
14     LMT
15     GME
16     PSX
17     NOC
18    INTC
19    VICI
20     IBM
21    TDOC
22      DE
23    COIN
24       Z
25      GE
26      GM
27    DELL
28       F
29     HPE
30      BA
31     AMC
Name: 0, dtype: object

In [46]:
scores_df[0]

0       QS
1     NVDA
2     TSLA
3       ZM
4       FB
5     GOOG
6     PRLB
7     MSFT
8     ROKU
9     COST
10    AAPL
11     XOM
12     MMM
13     CVX
14     LMT
15     GME
16     PSX
17     NOC
18    INTC
19    VICI
20     IBM
21    TDOC
22      DE
23    COIN
24       Z
25      GE
26      GM
27    DELL
28       F
29     HPE
30      BA
31     AMC
Name: 0, dtype: object

In [48]:
scores

{'GME': 4.137560674583069,
 'TSLA': 14.61230959859679,
 'COST': 7.175560451191021,
 'AAPL': 7.038652937717932,
 'IBM': 3.0237557442555283,
 'F': 1.2319392195711252,
 'GOOG': 10.79696165235446,
 'MMM': 4.602694523275302,
 'BA': 0.9285875451865,
 'LMT': 4.436521921426114,
 'GM': 1.4081842706494978,
 'AMC': -0.7836597652433493,
 'QS': 27.71702746642938,
 'TDOC': 2.905725400924926,
 'NVDA': 16.798559986806428,
 'FB': 10.989232468597557,
 'DE': 2.65430792339915,
 'ZM': 11.895534843941862,
 'Z': 2.2307228176263925,
 'DELL': 1.3076092828566763,
 'HPE': 1.1925371699263696,
 'GE': 1.583454406672066,
 'INTC': 3.541145075833152,
 'NOC': 3.6188018215234683,
 'PRLB': 9.862687792321633,
 'MSFT': 7.876750573772894,
 'COIN': 2.406030772217069,
 'ROKU': 7.427480981806268,
 'VICI': 3.2325795643823687,
 'XOM': 4.76397462492243,
 'PSX': 3.740768878921843,
 'CVX': 4.485656173340259}